.primary-color-light{

    color:var(--primary-color-light)
}

.primary-color-dark{


    color:var(--primary-color-dark)

}


.primary-color{

    color:var(--primary-color)


}

.primary-color-medium{

    color:var(--primary-color-medium)


}

.secondary_color{

    color:var(--secondary-color)

}

.gray-light{

    color:var(--gray-light);
}


.text-color{

    color:#000;

}

.text-color-light{


    color:rgb(0,0,0,.5);

}
.text-color-gray{

    color:var(--text-color-gray)

}
.link-color{


}

.color-white-light{

    color:var(--color-white-light);
}
