

:root{

    //color
    --primary-color:#357DED;
    --secondary-color:#27AE60;
    --text-color:#261C3F;
    --text-color-light:rgba(0,0,0,.6);
    --white-color:#fff;
    --gray-color:#F4F4F4;
    --color-white-light:#F4F4F4;

    --border-color:#357DED;




    //font.scss

    --font-size-h1: 32px;
    --font-size-h2: 30px;
    --font-size-h3: 24px;
    --font-size-h4: 18px;
    --font-size-text-normal-regular:16px;



}
