

:root{

    //color
    --primary-color:#357DED;
    --secondary-color:#27AE60;
    --text-color:#261C3F;
    --white-color:#fff;
    --gray-color:#F4F4F4;




    //font.scss


    --font-size-h1: 75px;
    --font-size-h2: 64px;
    --font-size-h3: 36px;
    --font-size-h4: 23px;
    --font-size-text-normal-regular:24px;



}
