

.header{

    background-color:var(--white-color);


    .wrapper-header{

         @apply md:flex items-center justify-between py-2  ;
    }
    &_right{

        @apply flex items-center justify-between py-2 px-8
    }

    &_left{


    }

    .wrapper-header-link a{

        color:var(--text-color);
        @apply  mx-4;
        font-weight:500;
    }

    .wrapper-header-link a:hover{

        color:var(--primary-color);
    }

}
