

.title-h1{

    font-size:var(--font-size-h1);
    font-weight: bold;
}

.title-h2{

    font-size:var(--font-size-h2);
    font-weight: bold;
}

.title-h3{

    font-size:var(--font-size-h3);
    font-weight: bold;
}
.title-h4{

    font-size:var(--font-size-h3);
    font-weight: 500;
}

.text-normal-regular{


}

.text-normal-bold{


}



